/* nav ul li:first-child a{
    transition-delay: 0.1s;
}
nav ul li:nth-child(2) a{
    transition-delay: 0.2s;
}
nav ul li:nth-child(3) a{
    transition-delay: 0.3s;
} */

/* nav ul a::after {
    content: '';
    position: absolute;
    width: calc(50% - 2rem);
    height: 2px;
    background: rgb(157, 198, 255);
    bottom: 0.3rem;
    left: 2rem;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s cubic-bezier(0, .85, .23, 1);
} */
/* 
nav ul a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
} */

nav ul a:active {
    background-color: rgb(127, 195, 255);
}

.open {
    height: 20rem;
}

.closed {
    height: 0;
    opacity: 0;
}

/* Show the overlay when the dropdown is visible */
.visible {
    opacity: 1;
    visibility: visible;
}


input,
button,
textarea,
select {
    font: inherit;
}

h1,
h2 {
    font-size: 3.5rem;
    color: var(--white);
    text-align: center;
    font-weight: 200;
}

.portfolio {
    border-top: 133px solid #cbf0f8;
    /* padding-top: 1rem; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 100px; */
    /* padding: 80px; */
    /* background-image: linear-gradient(rgb(245, 249, 255), var(--white)); */
    overflow: hidden;
    background-image: linear-gradient(#181c27, black);
}

.imgscroll-container {
    padding: 3rem 0;
    padding-bottom: 0;

    width: 100vw;

}

.imgscroll {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    height: 600px;
    width: 100%;
    align-items: center;
    scrollbar-width: none;
}

.imgscroll::-webkit-scrollbar {
    display: none;
}

.imgscroll img {
    scroll-snap-align: center;
    scroll-snap-stop: always;
    flex: none;
    /* Prevents images from resizing */
    /* width: 100vw; */
    width: 100%;
    height: auto;
    /* Each image takes up the full viewport width */
    /* max-height: 100%; */
    /* Ensures the image doesn't exceed container height */
    object-fit: contain;
    margin: 0 100px;
    border-radius: 10px;

}

.dot-container {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.dot.active {
    background-color: white;
}

.additionalpics-container {
    margin-top: 133px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.additionalpics {
    display: flex;
    width: 100%;
    height: 100vw;
    overflow: hidden;
    gap: 0.5rem;

}

.additionalpics img {
    height: 100%;
    width: 50%;
    object-fit: cover;

}

.imgcolumn {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    overflow: hidden;
    gap: 0.5rem;
}

.imgcolumn img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}


.buttondiv {
    height: calc(var(--vh) * 0.3);
    display: flex;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    width: 100%;
}


.custombutton {
    padding: 0.9rem 1.8rem;
    border: 2px solid rgb(127, 194, 252);
}

/* .buttondiv:hover {
    background-color: var(--button-color-hover);
    transform: translateY(-3px);
} */
.about,
.aboutinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about {
    /* background-image: linear-gradient(#d7ebfc, rgb(212, 244, 249)); */
    /* background-color: #b3f2fc; */

    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.7'%3E%3Cpath fill='%23d5f3f9' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23e0f6fb' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23eaf9fc' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23f5fcfe' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23FFFFFF' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23f6faff' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23edf4ff' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23e4efff' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23dbe9ff' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23D2E4FF' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E"); */
    /* background-size: cover;
    background-position: top; */
    background-color: rgb(235, 239, 243);
}

.aboutinner2 {
    display: flex;
    align-items: center;
}

.textcolumn {
    margin: 0 1rem;
    margin-top: 1.5rem;
    padding: 2rem;
    padding-top: 1.3rem;
    /* background-color: #6282b3; */
    /* border-radius: 10px; */
    /* border: 1px solid black; */
    background-color: white;
    
    border-radius: 25px;
}

.larger {
    font-size: larger;
    color: rgb(72, 169, 255);
}

.bolder {
    font-weight: bolder;
}

.aboutimg {
    margin-top: 1.5rem;
    overflow: hidden;
    /* filter: var(--filter1); */
    display: flex;
    justify-content: center;
    background-color: var(--white);


}

.aboutimg img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.about .custombutton {
    background-color: white;

    color: #111111;
    border: none;
}

/* .screenshotcontainer {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    padding-right: 2rem;

}
*/


.gallerypreview {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 2.5rem; */
    gap: 1rem;
    /* max-width: 100%; */
}


.scrollcontainer1 {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* gap: 2.5rem; */
    gap: 1rem;
    overflow: hidden;
}

.scrollcontainer1 img {
    /* border-radius: 10px; */
    object-fit: cover;
    width: 100%;
    height: auto;
}

.scrollcontainer2 {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* gap: 2.5rem; */
    gap: 1rem;
    overflow: hidden;
}

.scrollcontainer2 img {
    object-fit: cover;
    width: 100%;
    height: auto;
    /* border-radius: 10px; */
}

.gallerypreview img {
    border-radius: 10px;
}

.contact {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    /* padding: 1rem; */
    /* background-color: #6282b3; */
    /* background-image:
        repeating-linear-gradient(0deg, #151515, #151515 1px, transparent 1px, transparent 3rem),
        repeating-linear-gradient(90deg, #151515, #151515 1px, transparent 1px, transparent 3rem); */
    background-image: linear-gradient(black, #222222);
    background-size: cover;
    background-position: center;

}

.contactdiv1 {
    height: calc(var(--vh) - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contactdiv2 {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
}



.headerandsocials {
    display: flex;
    flex-direction: column;
    /* gap: 3rem; */
    padding-bottom: 3rem;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
}


.contactsvg {
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactsvg img {
    height: 65%;
}


.infobox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vw - 4rem);
    margin: 2rem;
    /* border-radius: 25px; */
    gap: 1rem;
    border: 3px solid rgb(114, 189, 255);
    margin-top: 0;
    border-radius: 20px;

}





.infoboxitem {
    color: var(--white);
    font-size: 1.5rem;
}

.infobutton {
    background-color: #222222;
    padding: 0.8rem 1.6rem;

}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: rgb(217, 237, 255);

    padding: 2rem 3rem;
    margin-top: 1rem;
}


.formcontent {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formcolumn {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}


input {
    border: 1px solid grey;
    /* border-top: 2px solid rgb(220, 220, 220); */
    height: 2rem;
    width: 100%;
    caret-color: transparent;
    border-radius: 5px;


}


.checkboxandlabel {
    display: flex;
    gap: 10px;
    align-items: center;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    cursor: pointer;
    /* Add other styles as needed */
}

input[type="text"],
input[type="email"] {
    padding-left: 0.5rem;
}



input[type="submit"] {
    font-size: 1.4rem;
    background-color: white;
}

.inputcolumn {
    gap: 1rem;
}

.checkboxcolumn {
    margin-top: 1rem;
}

.checkboxcolumn p {
    margin-bottom: 0.5rem;
}

.messagecolumn {
    height: 100px;
    margin-top: 1rem;
}

.messagecolumn input {
    width: 100%;
    height: 100%;
}

.submitbutton {
    padding: 0.7rem 1.4rem;
    display: flex;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    transition: transform 0.1s ease-out;
    margin: 2rem auto;
    margin-bottom: 1rem;



}

.submitbutton:hover {
    cursor: pointer;
    transform: translateY(-2px);

}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #111111;
    padding: 3rem 0;
}

footer p {
    color: gray;
    text-align: center;
}

.footerlinks {
    display: flex;
    flex-direction: column;
    /* padding-left: 3rem; */
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    gap: 1.5rem;
}

.footerlinks p {
    margin: auto;
}



.footerlogo {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid grey;
    padding-bottom: 2rem;
    /* padding-right: 3rem; */

}

.footerlogo img {
    height: 67%;
    width: auto;
    opacity: 0.8;
}

@media (min-width: 460px) {

    .aboutimg {
        height: 500px;
        width: auto;
        margin: 3rem;
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

    .infobox {
        /* width: 80%;
        height: 80vw;
        margin: 0 auto; */
        width: 400px;
        height: 400px;
        margin: 0 auto;
    }

}

@media (min-width: 540px) {

    h1,
    h2 {
        font-size: 4rem;
        
    }

    .additionalpics {}

    .aboutinner2 {
        padding-top: 0.5rem;

    }

    .textcolumn {
        margin: 0 3rem;
        margin-top: 2rem;
    }

    .aboutinner1 {
        padding-top: 0.5rem;
    }

    .aboutinner2 {
        padding-bottom: 1rem;
    }

    .headerandsocials {
        padding-top: 6rem;
        padding-bottom: 4rem;
    }

    .contactsvg {
        height: 4rem;
        width: 4rem;
    }

    .contactdiv2 {
        margin-top: 7rem;
    }

    form {

        padding: 2rem 3rem;


    }

    .checkboxrow {
        display: flex;
        justify-content: space-around;
    }
}

@media (min-width: 768px) {

    nav ul a:hover p {
        color: rgb(255, 255, 255);
    }

    .additionalpics {
        width: 700px;
        height: 700px;
    }


    .textcolumncontainer {

        display: flex;


        gap: 3rem;
    }

    .textcolumn {

        margin-top: 4rem;
        width: 100%;
    }

    .buttondiv {
        height: calc(var(--vh) * 0.4);

    }

    .aboutinner {
        flex-direction: row;
        padding: 3rem;
        gap: 3rem;
        align-items: start;
    }

    .aboutinner2 {
        flex-direction: column;
        padding-top: 0;
        padding-bottom: 0;
    }

    .textcolumn {
        margin: 0;
    }



    .aboutimg {
        margin: 0;

    }



}

@media (min-width: 1024px) {
    .kansikuva {
        height: 100%;
    }

    .vali {
        display: none;
    }

    .imgscroll-container {
        position: relative;
    }

    /* .scroll-hide-left {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 25%;
        background-image: linear-gradient(to right, rgba(16, 16, 16, 1), rgba(16, 16, 16, 0));
    }

    .scroll-hide-right {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 33%;
        background-image: linear-gradient(to left, rgba(16, 16, 16, 1), rgba(16, 16, 16, 0));
    } */

    .imgscroll {
        height: 600px;
    }

    .imgscroll img {
        width: 100%;
    }

    .additionalpics {
        width: 100%;
        height: calc(var(--vh) - 333px);
        padding: 0 1rem;
        gap: 1rem;
        border-radius: 10px;

    }

    .additionalpics img {
        width: 25%;
        border-radius: 10px;

    }

    .imgcolumn {
        height: 100%;
        flex-direction: row;
        border-radius: 10px;
        width: 80%;
        gap: 1rem;
    }

    .imgcolumn img {
        height: 100%;
        width: 50%;
        border-radius: 10px;
    }

    .textcolumn {
        width: 444px;
        padding: 3rem 2.5rem;
        padding-top: 1.3rem;
    }



    .aboutimg {
        height: 600px;
        margin: 0;


    }

    .aboutimg img {}


    .gallerypreview {
        padding-top: 3rem;
        gap: 2.5rem;
    }

    .scrollcontainer1,
    .scrollcontainer2 {
        width: 75%;
        gap: 2.5rem;
    }

    .aboutinner2 {
        flex-direction: row;
    }

    .textcolumncontainer {
        flex-direction: column;
        width: 50%;
    }
}

@media (min-width: 1280px) {

    .scrollcontainer1,
    .scrollcontainer2 {
        width: 65%;
    }

    .additionalpics {
        height: var(--vh);
        padding: 100px 3rem;
    }

    .aboutinner {}

    .aboutinner1 {
        padding-top: 5rem;
    }

    .textcolumn {}
}