/* .pop {
    transform: scale(0.8);
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
}

.pop.visible {
    opacity: 1;
    transform: scale(1);
}

.fade {
    opacity: 0;
    transition: opacity 0.5s;
}

.fade.visible {
    opacity: 1;
} */

/* 
.raise{
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;
}

.raise.visible{
    opacity: 1;
    transform: translateY(0);
} */

.closed {
    height: 0;
    opacity: 0;
}

/* Show the overlay when the dropdown is visible */
.visible {
    opacity: 1;
    visibility: visible;
}


input,
button,
textarea,
select {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
h2 {
    font-size: 2.8rem;
    text-align: center;
    font-weight: 200;
    font-family: ubuntuL;
    color: #222;
}

.portfolio {
    padding-top: 3rem;
    /* padding-top: 1rem; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 100px; */
    /* padding: 80px; */
    /* background-image: linear-gradient(rgb(245, 249, 255), var(--white)); */
    overflow: hidden;
    background-color: #111;
    /* background-color: #151515; */
}

.imgscroll-container {
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 1rem;
    overflow: hidden;
    position: relative;

}

.imgscroll {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    align-items: center;
    scrollbar-width: none;
    pointer-events: none;

}


.imgscroll::-webkit-scrollbar {
    display: none;
}

.scroll-hide-left {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 25%;
    background-image: linear-gradient(to right, rgba(16, 16, 16, 1), rgba(16, 16, 16, 0));
    display: none;

}

.scroll-hide-right {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 33%;
    background-image: linear-gradient(to left, rgba(16, 16, 16, 1), rgba(16, 16, 16, 0));
    display: none;
}


.imgscroll img {
    scroll-snap-align: center;
    scroll-snap-stop: always;
    flex: none;
    /* Prevents images from resizing */
    /* width: 100vw; */
    width: 100%;
    max-width: 350px;
    height: auto;
    /* Each image takes up the full viewport width */
    /* max-height: 100%; */
    /* Ensures the image doesn't exceed container height */
    object-fit: contain;
    margin: 0 111px;
    border-radius: 10px;

}


/* .dot-container {
    display: flex;
    justify-content: center;
    gap: 8px;
    height: 100px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.dot.active {
    background-color: white;
} */

.infosection {
    max-width: 1920px;
    margin: 12rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: whitesmoke;
    position: relative;
    font-family: ubuntuL;


}

.infosection h2 {
    font-size: 2.2rem;
    text-align: start;
    color: whitesmoke;
}

.infosectionimg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.infocard {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    padding-bottom: 4rem;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}


.infocard ul {
    padding-left: 2rem;
}

.infocard:first-child {
    padding-bottom: 0;
}

.additionalpics-container {
    display: flex;
    gap: 0.5rem;
}

.additionalpics:nth-child(1) {
    display: none;
}

.additionalpics {
    display: flex;
    height: 100vw;
    overflow: hidden;
    gap: 0.5rem;
    max-width: 700px;
    max-height: 700px;
}


.additionalpics img {
    width: 50%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.imgcolumn {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    overflow: hidden;
    gap: 0.5rem;
}

.imgcolumn img {
    width: 100%;
    height: 50%;
}


.buttondiv {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 6rem;
    padding-bottom: 8rem;

}


.custombutton {
    display: inline;
    padding: 0.9rem 1.8rem;
    border: 2px solid whitesmoke;
    border-radius: 25px;
    color: whitesmoke;
    overflow: hidden;
    transition: padding-right 0.2s ease-out, transform 0.2s ease-out;
    font-family: ubuntuL;
}

.custombutton .arrow {
    opacity: 0;
    width: 0;
    transform: translateX(-10px);
    /* Start slightly offset */
    transition: opacity 0.2s ease-out, transform 0.2s ease-out, width 0.2s ease-out;
    /* Smooth transitions */
    display: inline-block;
    justify-content: center;

    /* Prevent spacing issues */

}




.about,
.aboutinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: ubuntuR;
    color: var(--black);
    position: relative;
}

.about {

    background: radial-gradient(circle, #fafafa 50%, transparent 50%) repeat;
    background-size: 5px 5px;
    /* Spacing between dots */
    /* Grid spacing */
    background-color: white;
    /* Spacing between dots */
    /* Spacing between dots */
    /* Fallback color */
}

.aboutinner {
    max-width: 1920px;
}

/* 
.about {
    background-image: linear-gradient(#d7ebfc, rgb(212, 244, 249));
} */



.textcolumncontainer {
    display: flex;
    flex-direction: column;
}

.textcolumn {
    margin: 0 1rem;
    margin-top: 1.5rem;
    padding: 2rem;
    padding-top: 1.5rem;
    /* background-color: #6282b3; */
    /* border-radius: 25px; */
    font-family: "EB Garamond", serif;
    font-size: 1.2rem;
    font-optical-sizing: auto;
    font-style: normal;
    max-width: 400px;
    /* filter: var(--filter1); */
    font-family: ubuntuL;
}



.textcolumns {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.bluecard {
    background-color: rgb(240, 248, 255);

    /* border-radius: 25px; */
    color: #111;
}


.larger {
    font-size: 1.3em;
    color: rgb(101, 183, 255);
}

.bolder {
    font-weight: bold;
}


.aboutimg,
.aboutimg-second {
    margin-top: 1.5rem;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    max-width: 777px;

}

.about .custombutton {
    background-color: rgb(255, 255, 255);
    border: 2px solid #222;
    color: #222;
    font-family: ubuntuR;

}


.gallerypreview {
    background-color: #111;
    padding: 1rem 0;

}

.gallerypreviewitems {
    max-width: 768px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.gallerypreview-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    overflow: hidden;
}


.contact {
    width: 100%;

    align-items: center;
    justify-content: center;
    /* padding: 1rem; */
    /* background-color: #6282b3; */
    /* background-image:
        repeating-linear-gradient(0deg, #151515, #151515 1px, transparent 1px, transparent 3rem),
        repeating-linear-gradient(90deg, #151515, #151515 1px, transparent 1px, transparent 3rem); */
    /* background-image: linear-gradient(black, #181c27); */
    /* background: rgb(193, 238, 238); */
    color: white;


}

.contact h2 {
    color: whitesmoke;
}

.contactitems {
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.contactdiv1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#111, #181c27);
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.contactdiv2 {
    width: 100%;
    height: 100%;
    /* margin-top: 5rem; */
    display: flex;
    flex-direction: column;
    background: rgb(227, 243, 255);


}






.headerandsocials {
    display: flex;
    flex-direction: column;
    /* gap: 3rem; */
}

.socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
}


.contactsvg {
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactsvg img {
    height: 65%;
}


.infobox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 0;
    height: calc(100vw - 4rem);
    width: calc(100% - 4rem);
    margin: 4rem 2rem;
    /* border-radius: 25px; */
    gap: 1rem;
    border: 3px solid rgb(154, 208, 255);
    border-radius: 50px;
}


.infoboxitem {
    color: var(--white);
    font-size: 1.3rem;
}

.infobutton {
    width: 67%;
    padding: 0.8rem 0;
    text-align: center;
    /* border-bottom: 2px solid white; */
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    color: #111;
    padding: 2rem 3rem;
    width: 100%;
    font-size: 1.1rem;
    border-radius: 25px;
}


.formcontent {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.formcolumn {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}


input {
    /* border-top: 2px solid rgb(220, 220, 220); */

    caret-color: transparent;
}


.checkboxandlabel {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

input[type="checkbox"] {
    /* Reset styles except for the checked state */
    -webkit-appearance: none;
    /* Reset for Safari */
    appearance: none;
    /* Reset for other browsers */
    width: 22px;
    /* Customize size */
    height: 22px;
    border: 2px solid #ccc;
    /* Border style for unchecked state */
    border-radius: 4px;
    /* Optional rounded corners */
    background-color: white;
    /* Background for unchecked state */
    cursor: pointer;
    transition: all 0.3s ease;
    /* Smooth transitions for hover or focus */
}

input[type="checkbox"]:hover {
    border-color: #007bff;
    /* Change border on hover */
}

input[type="checkbox"]:checked {
    -webkit-appearance: checkbox;
    /* Restore native checked style in Safari */
    appearance: checkbox;
    /* Restore native checked style in other browsers */
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 0.5rem;
    padding-left: 0.7rem;
    border: 2px solid rgb(222, 222, 222);
    border-radius: 10px;
    font-size: 1rem;
}

textarea {
    resize: none;
    width: 100%;
    border: 2px solid rgb(222, 222, 222);
    border-radius: 10px;
    height: 200px;
}

.checkboxcolumn {
    padding: 0.5rem;
}

hr {
    border: none;
    border-top: 2px solid rgb(222, 222, 222);
    margin-bottom: 1rem;
    width: 100%;
}


input[type="submit"] {
    font-size: 1.2rem;
    background-color: white;
}

.inputcolumn {
    gap: 1rem;
}

.checkboxcolumn {
    margin-top: 1rem;
}

.checkboxcolumn p {
    margin-bottom: 0.5rem;
}

.messagecolumn {
    height: 100px;
    margin-top: 1rem;
}

.messagecolumn input {
    width: 100%;
    height: 100%;
}

.submitbutton {
    padding: 0.7rem 1.4rem;
    display: flex;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    transition: transform 0.1s ease-out;
    margin: 2rem auto;
    margin-bottom: 1rem;
    border: 2px solid #222;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    background-image: url('/images/sininenglow.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;



}

iframe {
    border: none;
    border-radius: 10px;

}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #111111;
    padding: 7rem 0;
    font-family: ubuntuL;
}

footer p {
    color: gray;
    text-align: center;
}


.footerlinks {
    display: flex;
    flex-direction: column;
    /* padding-left: 3rem; */
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    gap: 1.5rem;
}

.footerlinks p {
    margin: auto;
}



.footerlogo {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 1rem;
    /* padding-right: 3rem; */

}

.footerlogo img {
    height: 67%;
    width: auto;
    opacity: 0.8;
}

@media (min-width: 460px) {

    .infocard {
        width: 400px;
    }

    .aboutimg,
    .aboutimg-second {
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

    .aboutimg-second {
        height: 600px;
        width: auto;
    }


    .infobox {
        /* width: 80%;
        height: 80vw;
        margin: 0 auto; */
        width: 400px;
        height: 400px;
        margin: 4rem auto;
    }

    iframe {
        width: 450px;
        height: 225px;
    }
}

@media (min-width: 540px) {

    h1,
    h2 {
        font-size: 3.5rem;

    }


    .aboutinner {
        padding-top: 0.5rem;
    }

    .aboutinner:last-child {
        padding-bottom: 1rem;
    }

    .textcolumn {
        margin: 0 3rem;
        margin-top: 2rem;
    }

    /* .contact {
        padding-top: 7rem;
    } */

    .contactdiv1 {
        padding-top: 7rem;
    }

    .contactsvg {
        height: 4rem;
        width: 4rem;
    }

    /* .contactdiv2 {
        margin-top: 5rem;
    } */


    .checkboxrow {
        display: flex;
        justify-content: space-between;
    }

    /* .gallerypreviewitems {
        padding: 1rem 0;
    }

    .gallerypreviewitems {
        gap: 1rem;
    } */

    form {
        padding: 3rem 5rem;
    }

    iframe {
        width: 500px;
        height: 250px;
    }
}

@media (min-width: 768px) {

    .scroll-hide-left,
    .scroll-hide-right {
        display: block;
    }

    .textcolumn {
        max-width: 555px;
    }



    iframe {
        width: 750px;
        height: 375px;
    }
}



@media (min-width: 1024px) {

    .nav-link:hover,
    nav ul button:hover {
        color: rgb(121, 255, 255);
    }

    .aboutinner {
        flex-direction: row;
        padding: 3rem;
        gap: 5rem;
    }

    .textcolumncontainer {
        flex-direction: row;
        gap: 3rem;
    }

    .textcolumn {
        margin: 0;
        width: 100%;
    }

    .textcolumncontainer .textcolumn {
        width: 50%;
    }

    .custombutton:hover {
        padding-right: 25px;
        transform: translateY(-2px);
        /* Increase padding to fit arrow */
    }

    .custombutton:hover .arrow {
        opacity: 1;
        /* Make arrow visible */
        transform: translateX(0);
        width: 1rem;
        /* Move arrow into place */
    }

    .submitbutton:hover {
        cursor: pointer;
        transform: translateY(-2px);

    }

    .kansikuva {
        height: 100%;
    }

    .quote-small {
        display: none;
    }

    .portfolio {
        border-top: none;
    }

    .imgscroll-container {
        padding-top: 6rem;
        padding-bottom: 3rem;
    }

    .infosection {
        flex-direction: row;
        margin: 15rem auto;
        margin-bottom: 20rem;
    }

    .infocard {
        height: 400px;
        align-items: flex-start;
    }

    .infocard:nth-child(3) {
        width: 600px;

    }

    /* .scroll-hide-left {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 25%;
        background-image: linear-gradient(to right, rgba(16, 16, 16, 1), rgba(16, 16, 16, 0));
    }

    .scroll-hide-right {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 33%;
        background-image: linear-gradient(to left, rgba(16, 16, 16, 1), rgba(16, 16, 16, 0));
    } */

    .imgscroll {
        height: 500px;
    }

    /* 
    .additionalpics {
        padding: 0 1rem;
        gap: 1rem;
        width: auto;
        height: auto;
        justify-content: center;
        overflow: hidden;
    }

    .additionalpics img {
        height: 450px;
        border-radius: 10px;
        width: 33%;

    }

    .imgcolumn {
        flex-direction: row;
        border-radius: 10px;
        gap: 1rem;
        width: 66%;
        height: auto;
        width: auto;
    }

    .imgcolumn img {
        width: 50%;
    } */

    .textcolumn {
        width: 444px;

        max-width: 600px;

        /* padding: 3rem 2.5rem;
        padding-top: 1.3rem; */
    }

    .about,
    .aboutinner {
        padding: 0;
    }

    .aboutinner {
        padding-top: 10rem;
    }


    .aboutimg {
        margin: 0;
        border-radius: 10px;
        width: 50%;
        object-fit: contain;
        max-width: none;
    }

    .aboutimg-second {
        border-radius: 10px;
    }

    iframe {
        width: 950px;
        height: 475px;
    }
}

@media (min-width: 1280px) {

    .additionalpics-container,
    .additionalpics,
    .imgcolumn {
        gap: 1rem;
    }

    .additionalpics-container img {
        border-radius: 10px;
    }

    .additionalpics:nth-child(1) {
        display: flex;
    }

    .additionalpics {
        height: 555px;
        width: 555px;
    }

    .buttondiv {
        padding-top: 7rem;
        padding-bottom: 9rem;
    }

    .textcolumncontainer {
        width: 50%;
    }

    .aboutimg {
        width: 55%;
        object-fit: contain;
        max-width: none;
    }

    .aboutimg-second {
        height: 650px;
    }

    .gallerypreview {
        padding: 3rem 0;
    }

    .contact {
        background: rgb(227, 243, 255);
    }

    .contact h2 {
        color: #222;
    }

    .contactitems {
        flex-direction: row;
    }


    form {
        width: fit-content;
    }

    .headerandsocials {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        margin: 0 2rem;
    }


    .socials {
        align-items: center;
    }

    .contactdiv1,
    .contactdiv2 {
        width: 50%;
        background: none;
        margin-top: 0;
        padding-top: 0;
    }

    .contact {
        padding: 5rem 0;
    }


    .infobox {
        border: none;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .infobutton {
        color: #222;
    }

    iframe {
        width: 1150px;
        height: 575px;
    }
}

@media (min-width: 1400px) {

    /* .additionalpics img {
        height: 555px;
        width: 466px;
    } */

    .gallerypreview {
        padding: 1rem 0;
    }

    .gallerypreviewitems {
        flex-direction: row;
        max-width: none;
    }

    .fade {
        transition: none;
        opacity: 1;
    }

    .contactitems {
        padding: 3rem;
        gap: 3rem;
    }

}

@media (min-width: 1920px) {}