

/* nav ul li:first-child a{
    transition-delay: 0.1s;
}
nav ul li:nth-child(2) a{
    transition-delay: 0.2s;
}
nav ul li:nth-child(3) a{
    transition-delay: 0.3s;
} */

/* nav ul a::after {
    content: '';
    position: absolute;
    width: calc(50% - 2rem);
    height: 2px;
    background: rgb(157, 198, 255);
    bottom: 0.3rem;
    left: 2rem;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s cubic-bezier(0, .85, .23, 1);
} */
/* 
nav ul a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
} */

nav ul a:active {
    background-color: rgb(127, 195, 255);
}

.open {
    height: 20rem;
}

.closed {
    height: 0;
}

.open nav ul a {
    opacity: 1;
    color: var(--white);
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(47, 129, 201, 0.5);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(100%);
    z-index: 500;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Show the overlay when the dropdown is visible */
.visible {
    opacity: 1;
    visibility: visible;
}

.closed {
    opacity: 0;
}

input,
button,
textarea,
select {
    font: inherit;
}

h1,
h2 {
    font-size: 3.5rem;
    color: var(--white);
    text-align: center;
    font-weight: 400;
}

.portfolio {
    /* padding-top: 1rem; */
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    /* gap: 100px; */
    /* padding: 80px; */
    /* background-image: linear-gradient(rgb(245, 249, 255), var(--white)); */
    overflow: hidden;
    background-color: #080808;
    padding-top: 3rem;

}

.imgscroll {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: auto;
    height: 500px;
    width: 100vw;
    align-items: center;
    scrollbar-width: none;
}

.imgscroll::-webkit-scrollbar {
    display: none;
}

.imgscroll img {
    scroll-snap-align: center;
    scroll-snap-stop: always;
    flex: none;
    /* Prevents images from resizing */
    width: 100vw;
    /* Each image takes up the full viewport width */
    height: 100%;
    /* max-height: 100%; */
    /* Ensures the image doesn't exceed container height */
    object-fit: contain;
    margin: 0 100px;

}

.dot-container {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: white;
}

.additionalpics {
    display: flex;
    height: 100vw;
    margin-top: 6rem;
    overflow: hidden;
    gap: 0.5rem;
}

.additionalpics img {
    height: 100%;
    width: 50%;
    object-fit: cover;
}

.imgcolumn {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    gap: 0.5rem;
}

.imgcolumn img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}


.buttondiv {
    height: 12rem;
    display: flex;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custombutton {
    padding: 0.8rem 1.6rem;
    margin: auto;
    border: 1px solid var(--white);
}

/* .buttondiv:hover {
    background-color: var(--button-color-hover);
    transform: translateY(-3px);
} */

.custombutton:active{
    border-radius: 25px;
}

.about,
.aboutinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    /* background-color: rgb(195, 218, 243); */
    background-color: rgb(222, 236, 247);
}

.textcolumn {
    background-color: var(--white);
    margin: 0 1rem;
    margin-top: 1.5rem;
    /* margin-top: 1.5rem; */
    padding: 0.7rem 1.6rem;
    padding-bottom: 1rem;
    /* background-color: #6282b3; */
    filter: var(--filter1);
}

.aboutimg {
    margin-top: 1.5rem;
    overflow: hidden;
    filter: var(--filter1);
}

.aboutimg img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
}


.aboutimg2 {
    background-color: black;
}

/* 
.aboutlink {
    background-color: black;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .about .seemore {
    height: 20vh;
} */

.about .custombutton {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    border: none;
}

/* .screenshotcontainer {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    padding-right: 2rem;

}
*/


.gallerypreview {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* max-width: 100%; */
}


.scrollcontainer1 {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 0.5rem;
    overflow: hidden;
}

.scrollcontainer1 img {
    /* border-radius: 10px; */
    object-fit: cover;
    width: 100%;
    height: auto;
}

.scrollcontainer2 {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 0.5rem;
    overflow: hidden;
}

.scrollcontainer2 img {
    object-fit: cover;
    width: 100%;
    height: auto;
    /* border-radius: 10px; */
}

.contact {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    /* padding: 1rem; */
    /* background-color: #6282b3; */
}


.headerandsocials {
    display: flex;
    flex-direction: column;
    /* gap: 3rem; */
    padding: 3rem 0;
    padding-top: 4rem;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
}


.contactsvg {
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactsvg img {
    height: 65%;
}


.infobox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vw - 4rem);
    margin: 2rem;
    /* border-radius: 25px; */
    gap: 1rem;
    border: 3px solid rgb(100, 185, 255);
    margin-top: 0;
    margin-bottom: 4rem;
    border-radius: 25px;
}

.infoboxitem {
    color: var(--white);
    font-size: 1.5rem;
}

.infobutton {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.8rem 1.6rem;

}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: rgb(230, 244, 255);
    background-color: #cbf0f8;
    padding: 2rem 3rem;
    margin-top: 1rem;
}


.formcontent {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formcolumn {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}


input {
    border: 1px solid grey;
    /* border-top: 2px solid rgb(220, 220, 220); */
    height: 2rem;
    width: 100%;
    caret-color: transparent;
    border-radius: 5px;


}


.checkboxandlabel {
    display: flex;
    gap: 10px;
    align-items: center;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    cursor: pointer;
    /* Add other styles as needed */
}

input[type="text"],
input[type="email"] {
    padding-left: 0.5rem;
}



input[type="submit"] {
    font-size: 1.4rem;
    background-color: white;
}

.inputcolumn {
    gap: 1rem;
}

.checkboxcolumn {
    margin-top: 1rem;
}

.checkboxcolumn p {
    margin-bottom: 0.5rem;
}

.messagecolumn {
    height: 100px;
    margin-top: 1rem;
}

.messagecolumn input {
    width: 100%;
    height: 100%;
}

.submitbutton {
    padding: 0.7rem 1.4rem;
    display: flex;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    transition: transform 0.1s ease-out;
    margin: 2rem auto;
    margin-bottom: 1rem;



}

.submitbutton:hover {
    cursor: pointer;
    transform: translateY(-2px);

}

footer {
    display: flex;
    flex-direction: column;
    /* height: 33vh; */
    align-items: center;
    justify-content: center;
    /* background-color: var(--footer-color); */
    padding: 3rem 0;
}

footer p {
    color: gray;
}

.footerlinks {
    display: flex;
    flex-direction: column;
    /* padding-left: 3rem; */
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    gap: 1.5rem;
}

.footerlinks p {
    margin: auto;
}



.footerlogo {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid grey;
    padding-bottom: 2rem;
    /* padding-right: 3rem; */

}

.footerlogo img {
    width: 65%;
    height: auto;
    opacity: 0.8;
}


@media (min-width: 540px) {

    h1,
    h2 {
        font-size: 4rem;
    }

    .imgscroll {
        height: 550px;
    }

    .additionalpics {
        width: 500px;
        height: 500px;
        margin: 8rem auto;
        margin-bottom: 0;
    }

    .aboutinner2 {
        margin-top: 0.5rem;
    }

    .textcolumn {
        padding: 1rem 2rem;
        padding-bottom: 1.5rem;
        margin: 0 3rem;
        margin-top: 2rem;
        filter: drop-shadow(0px, 0px 10px rgba(0, 0, 0, 0.5));

    }

    .aboutimg {
        width: 65%;
        height: 500px;
        margin-top: 3rem;
        filter: var(--filter1);
        background-color: var(--white);
    }

    .aboutinner1 {
        padding-top: 0.5rem;
    }

    .aboutinner2 {
        padding-bottom: 1rem;
    }


    .seemore {
        padding: 1rem 2rem;
        font-size: 1.6rem;
    }

    .buttondiv {
        height: 33vh;
    }

    .about .buttondiv {
        height: 25vh;
    }

    .headerandsocials {
        margin-bottom: 4rem;
    }

    .contact h2 {
        margin-top: 4rem;
    }

    .contactsvg {
        height: 4rem;
        width: 4rem;
    }

    .infobox {
        width: 75%;
        height: 75vw;
        margin: 1rem auto;
    }

    .form-container {
        padding: 2rem 3rem;

    }

    .checkboxrow {
        display: flex;
        justify-content: space-around;
    }
}

@media (min-width: 768px) {


    nav ul a:hover p {
        color: rgb(255, 255, 255);
    }

    .seemore {}

    .textcolumn {
        padding: 2rem 2.5rem;
        padding-bottom: 3rem;
        margin-top: 4rem;
        width: 80%;
    }

    .aboutimg {
        margin-top: 4rem;
    }

    .infobox {
        width: 60%;
        height: 60vw;
        margin: 1rem auto;
    }

    .form-container {
        width: 80%;
        margin: 2rem auto;
    }


}

@media (min-width: 1024px) {}