nav ul a:hover,
nav ul button:hover {
    color: rgb(137, 255, 255);
}

.closed {
    height: 0;
    opacity: 0;
}

/* Show the overlay when the dropdown is visible */
.visible {
    opacity: 1;
    visibility: visible;
}


input,
button,
textarea,
select {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
h2 {
    font-size: 2.8rem;
    text-align: center;
    font-weight: 200;
}

.quote-big {
    display: none;
}

.portfolio {
    padding-top: 3rem;
    /* padding-top: 1rem; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 100px; */
    /* padding: 80px; */
    /* background-image: linear-gradient(rgb(245, 249, 255), var(--white)); */
    overflow: hidden;
    background-color: #111;
    /* background-color: #151515; */
}

.imgscroll-container {
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 1rem;
    overflow: hidden;
    position: relative;

}

.imgscroll {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    align-items: center;
    scrollbar-width: none;


}


.imgscroll::-webkit-scrollbar {
    display: none;
}

.scroll-hide-left {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 25%;
    background-image: linear-gradient(to right, rgba(16, 16, 16, 1), rgba(16, 16, 16, 0));
    display: none;

}

.scroll-hide-right {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 33%;
    background-image: linear-gradient(to left, rgba(16, 16, 16, 1), rgba(16, 16, 16, 0));
    display: none;
}


.imgscroll img {
    scroll-snap-align: center;
    scroll-snap-stop: always;
    flex: none;
    /* Prevents images from resizing */
    /* width: 100vw; */
    width: 100%;
    max-width: 350px;
    height: auto;
    /* Each image takes up the full viewport width */
    /* max-height: 100%; */
    /* Ensures the image doesn't exceed container height */
    object-fit: contain;
    margin: 0 111px;
    border-radius: 10px;

}


/* .dot-container {
    display: flex;
    justify-content: center;
    gap: 8px;
    height: 100px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.dot.active {
    background-color: white;
} */

.infosection {
    max-width: 1920px;
    margin: 12rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: whitesmoke;
    position: relative;


}

.infosection h2 {
    font-size: 2.2rem;
    text-align: start;
}

.infosectionimg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.infocard {

    /* width: 400px; */

    /* min-height: 350px; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    padding-bottom: 4rem;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.infocard ul {
    padding-left: 2rem;
}

.infocard:first-child {
    padding-bottom: 0;
}

.additionalpics-container {
    display: flex;
    gap: 0.5rem;
}

.additionalpics:nth-child(1) {
    display: none;
}

.additionalpics {
    display: flex;
    height: 100vw;
    overflow: hidden;
    gap: 0.5rem;
    max-width: 700px;
    max-height: 700px;
}


.additionalpics img {
    width: 50%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.imgcolumn {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    overflow: hidden;
    gap: 0.5rem;
}

.imgcolumn img {
    width: 100%;
    height: 50%;
}


.buttondiv {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 6rem;
    padding-bottom: 8rem;

}


.custombutton {
    display: inline;
    padding: 0.9rem 1.8rem;
    border: 1px solid white;
    border-radius: 25px;
    color: white;
    overflow: hidden;
    transition: padding-right 0.2s ease-out;

}

.custombutton .arrow {
    opacity: 0;
    width: 0;
    transform: translateX(-10px);
    /* Start slightly offset */
    transition: opacity 0.2s ease-out, transform 0.2s ease-out, width 0.2s ease-out;
    /* Smooth transitions */
    display: inline-block;
    justify-content: center;
    /* Prevent spacing issues */

}

.custombutton:hover {
    padding-right: 25px;
    /* Increase padding to fit arrow */
}

.custombutton:hover .arrow {
    opacity: 1;
    /* Make arrow visible */
    transform: translateX(0);
    width: 1rem;
    /* Move arrow into place */
}

.about,
.aboutinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    font-family: ubuntuR;
    color: var(--black);
}


.aboutinner {
    max-width: 1920px;
}

/* 
.about {
    background-image: linear-gradient(#d7ebfc, rgb(212, 244, 249));
} */



.textcolumncontainer {
    display: flex;
    flex-direction: column;
}

.textcolumn {
    margin: 0 1rem;
    margin-top: 1.5rem;
    padding: 2rem;
    padding-top: 1.5rem;
    /* background-color: #6282b3; */
    border-radius: 25px;
    font-family: "EB Garamond", serif;
    font-size: 1.4rem;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

}
.textcolumns{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.bluecard {
    background-color: rgb(240, 248, 255);
    
    border-radius: 25px;
    color: black;
}


.larger {
    font-size: 1.3em;
    color: rgb(101, 183, 255);
}

.bolder {
    font-weight: bold;
}

.aboutimg {
    margin-top: 1.5rem;
    /* filter: var(--filter1); */
    background-color: white;
    overflow: hidden;
    width: 100%;


}

.aboutimg img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}


.about .custombutton {
    background-color: rgb(255, 255, 255);
    border: 1px solid #111;
    color: black;

}

/* .screenshotcontainer {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    padding-right: 2rem;

}
*/


.gallerypreview {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #111;
    margin: 0 auto;
}

.gallerypreviewitems {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 1920px;
    margin: 0 auto;
}

.scrollcontainer1 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.scrollcontainer2 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.gallerypreview img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    overflow: hidden;

}


.contact {
    width: 100%;

    align-items: center;
    justify-content: center;
    /* padding: 1rem; */
    /* background-color: #6282b3; */
    /* background-image:
        repeating-linear-gradient(0deg, #151515, #151515 1px, transparent 1px, transparent 3rem),
        repeating-linear-gradient(90deg, #151515, #151515 1px, transparent 1px, transparent 3rem); */
    /* background-image: linear-gradient(black, #181c27); */
    background: rgb(193, 238, 238);
    color: white;


}

.contactitems {
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.contactdiv1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(#151515, #181c27);
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.contactdiv2 {
    width: 100%;
    height: 100%;
    /* margin-top: 5rem; */
    display: flex;
    flex-direction: column;
    justify-content: end;

}






.headerandsocials {
    display: flex;
    flex-direction: column;
    /* gap: 3rem; */
}

.socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
}


.contactsvg {
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactsvg img {
    height: 65%;
}


.infobox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem 2rem;
    margin-bottom: 0;
    height: calc(100vw - 4rem);

    /* border-radius: 25px; */
    gap: 1rem;
    border: 3px solid rgb(154, 208, 255);
    border-radius: 20px;


}





.infoboxitem {
    color: var(--white);
    font-size: 1.3rem;
}

.infobutton {
    width: 67%;
    padding: 0.8rem 0;
    text-align: center;
    font-weight: bold;

    /* border-bottom: 2px solid white; */
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* background-color: rgb(217, 237, 255); */
    background-color: rgb(233, 237, 241);
    color: black;
    padding: 2rem 3rem;
}


.formcontent {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formcolumn {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}


input {
    /* border-top: 2px solid rgb(220, 220, 220); */

    caret-color: transparent;
}


.checkboxandlabel {
    display: flex;
    gap: 10px;
    align-items: center;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    cursor: pointer;
    /* Add other styles as needed */
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 0.5rem;
    padding-left: 0.7rem;
    background-color: white;
    border: none;
    font-size: 1rem;
    border-radius: 10px;

}

textarea {
    resize: none;
    width: 100%;
    border: none;
    border-radius: 10px;
    height: 200px;
}

.checkboxcolumn {
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
}



input[type="submit"] {
    font-size: 1.4rem;
    background-color: white;
}

.inputcolumn {
    gap: 1rem;
}

.checkboxcolumn {
    margin-top: 1rem;
}

.checkboxcolumn p {
    margin-bottom: 0.5rem;
}

.messagecolumn {
    height: 100px;
    margin-top: 1rem;
}

.messagecolumn input {
    width: 100%;
    height: 100%;
}

.submitbutton {
    padding: 0.7rem 1.4rem;
    display: flex;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    transition: transform 0.1s ease-out;
    margin: 2rem auto;
    margin-bottom: 1rem;



}

.submitbutton:hover {
    cursor: pointer;
    transform: translateY(-2px);

}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    z-index: 10000;
    /* On top of other content */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.5);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    /* Semi-transparent background */
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;



}

iframe {
    border: none;
    border-radius: 10px;

}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #111111;
    padding: 5rem 0;
}

footer p {
    color: gray;
    text-align: center;
}


.footerlinks {
    display: flex;
    flex-direction: column;
    /* padding-left: 3rem; */
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    gap: 1.5rem;
}

.footerlinks p {
    margin: auto;
}



.footerlogo {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 1rem;
    /* padding-right: 3rem; */

}

.footerlogo img {
    height: 67%;
    width: auto;
    opacity: 0.8;
}

@media (min-width: 460px) {

    .infocard {
        width: 400px;
    }

    .aboutimg {
        height: 450px;
        margin: 3rem;
        margin-top: 3rem;
        margin-bottom: 1rem;

    }

    .aboutimg img {
        height: 100%;
        width: 100%;
        border-radius: 25px;
    }

    .infobox {
        /* width: 80%;
        height: 80vw;
        margin: 0 auto; */
        width: 400px;
        height: 400px;
        margin: 4rem auto;
    }

    iframe {
        width: 450px;
        height: 225px;
    }
}

@media (min-width: 540px) {

    h1,
    h2 {
        font-size: 3.5rem;

    }


    .aboutinner {
        padding-top: 0.5rem;
    }

    .aboutinner:last-child {
        padding-bottom: 1rem;
    }

    .textcolumn {
        margin: 0 3rem;
        margin-top: 2rem;
    }

    .contact {
        padding-top: 7rem;
    }

    .contactsvg {
        height: 4rem;
        width: 4rem;
    }

    /* .contactdiv2 {
        margin-top: 5rem;
    } */

    form {

        padding: 2rem 3rem;


    }

    .checkboxrow {
        display: flex;
        justify-content: space-around;
    }

    .gallerypreviewitems {
        padding: 1rem 0;
    }

    .gallerypreviewitems,
    .scrollcontainer1,
    .scrollcontainer2 {
        gap: 1rem;
    }

    iframe {
        width: 500px;
        height: 250px;
    }
}

@media (min-width: 768px) {

    .scroll-hide-left,
    .scroll-hide-right {
        display: block;
    }



    .aboutinner {
        flex-direction: row;
        padding: 3rem;
        gap: 3rem;
    }

    .aboutinner2 {
        flex-direction: column;
        padding-top: 0;
        padding-bottom: 0;
    }


    .textcolumncontainer {
        flex-direction: row;
        gap: 3rem;
    }

    .textcolumn {
        margin: 0;
        width: 100%;
    }

    .textcolumncontainer .textcolumn {
        width: 50%;
    }



    .aboutimg {
        margin: 0;
    }

    iframe {
        width: 750px;
        height: 375px;
    }
}



@media (min-width: 1024px) {
    .kansikuva {
        height: 100%;
    }

    .quote-small {
        display: none;
    }

    .quote-big {
        font-family: ubuntu;
        width: 100%;
        display: flex;
        height: 400px;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        background-image: linear-gradient(var(--whitewhite), rgb(184, 215, 255));


    }

    .portfolio {
        border-top: none;
    }

    .imgscroll-container {
        padding-top: 6rem;
        padding-bottom: 3rem;
    }

    .infosection {
        flex-direction: row;
        margin: 15rem auto;
        margin-bottom: 20rem;
    }

    .infocard {
        height: 400px;
        align-items: flex-start;
    }

    .infocard:nth-child(3) {
        width: 600px;

    }

    /* .scroll-hide-left {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 25%;
        background-image: linear-gradient(to right, rgba(16, 16, 16, 1), rgba(16, 16, 16, 0));
    }

    .scroll-hide-right {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 33%;
        background-image: linear-gradient(to left, rgba(16, 16, 16, 1), rgba(16, 16, 16, 0));
    } */

    .imgscroll {
        height: 500px;
    }

    /* 
    .additionalpics {
        padding: 0 1rem;
        gap: 1rem;
        width: auto;
        height: auto;
        justify-content: center;
        overflow: hidden;
    }

    .additionalpics img {
        height: 450px;
        border-radius: 10px;
        width: 33%;

    }

    .imgcolumn {
        flex-direction: row;
        border-radius: 10px;
        gap: 1rem;
        width: 66%;
        height: auto;
        width: auto;
    }

    .imgcolumn img {
        width: 50%;
    } */

    .textcolumn {
        width: 444px;
        
        max-width: 600px;
       
        /* padding: 3rem 2.5rem;
        padding-top: 1.3rem; */
    }

    .about,
    .aboutinner {
        padding: 0;
    }

    .aboutinner{
        padding-top: 15rem;
    }
    /* .about {
        padding: 10rem 0;
    } */


    .aboutimg {
        width: auto;
        height: auto;
        margin: 0;

    }

    .aboutimg img {
        width: 800px;
        object-fit: contain;
        
    }

    /* .aboutimg-first img {
        border-radius: 0 0 0 50px;
    } */

   
    .aboutimg-second img{
        height: 700px;
        width: auto;
        
    }


    iframe {
        width: 950px;
        height: 475px;
    }
}

@media (min-width: 1280px) {



    .scrollcontainer1,
    .scrollcontainer2 {
        flex-direction: row;
        width: 100%;
        height: auto;
        /* gap: 3rem; */

    }

    .additionalpics-container,
    .additionalpics,
    .imgcolumn {
        gap: 1rem;
    }

    .additionalpics-container img {
        border-radius: 10px;
    }

    .additionalpics:nth-child(1) {
        display: flex;
    }

    .additionalpics {
        height: 555px;
        width: 555px;
    }


    .gallerypreviewitems {
        padding: 1rem 5rem;
    }

    .gallerypreviewitem {
        width: 50%;
        height: auto;


    }



    .aboutinner1 {
        padding-top: 5rem;
    }

    .aboutinner2 {
        flex-direction: row;
        gap: 5rem;
    }

    .textcolumncontainer {
        width: 50%;
    }

    /* .aboutinner2 .textcolumn {
        max-width: 30%;
    } */


    .contact {}

    .contactitems {
        flex-direction: row;



    }


    form {
        background: none;
        color: black;
        background-color: rgb(238, 242, 246);
        border-top-left-radius: 25px;
        filter: var(--filter1);


    }

    .headerandsocials {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        margin: 0 2rem;
    }


    .socials {
        align-items: center;
    }

    .contactdiv1,
    .contactdiv2 {
        width: 50%;
        background: none;
        margin-top: 0;
        padding-top: 0;
    }




    .contact h2 {
        color: black;
    }


    .infobox {
        border: none;
        background-color: var(--whitewhite);
        filter: var(--filter1);
    }

    .infobutton {
        color: black;
    }

    iframe {
        width: 1150px;
        height: 575px;
    }
}

@media (min-width: 1400px) {

    /* .additionalpics img {
        height: 555px;
        width: 466px;
    } */

    .contactitems {
        padding: 3rem;
        gap: 5rem;
    }

    form {
        border-radius: 25px;
    }

    .contactdiv1 {
        width: 40%;
    }
}

@media (min-width: 1920px) {
    .quote-big {
        height: 550px;
    }


    .gallerypreviewitems {
        padding: 1rem 0;
    }

    form {
        border-radius: 25px;
    }
}